In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/indian-companies/indian_companies.csv
/kaggle/input/160k-data/1-60000.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
from bs4 import BeautifulSoup
import requests

#from selenium import webdriver
#from selenium.webdriver.chrome.service import Service
#from webdriver_manager.chrome import ChromeDriverManager
#from selenium.webdriver.common.by import By

In [4]:
data = pd.read_csv('../input/160k-data/1-60000.csv')
#driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
#driver.get('https://business.mapsofindia.com/india-company/')
#driver.maximize_window()

In [5]:
d = data[data.ownership!='Limited Liability Partnership']

In [6]:
d.head()

,CIN,Name,url,roc,status,ownership
0,U22219MP2018PTC046363,JEVI PRINTPACK PRIVATE LIMITED,https://www.zaubacorp.com/company/JEVI-PRINTPA...,Gwalior,Active,Private Limited Company
2,U74120MH2012PTC238343,JEVION FASHION PRIVATE LIMITED,https://www.zaubacorp.com/company/JEVION-FASHI...,Mumbai,Active,Private Limited Company
4,U74999DL2020PTC374078,JEVITAX CONSULTANT PRIVATE LIMITED,https://www.zaubacorp.com/company/JEVITAX-CONS...,Delhi,Active,Private Limited Company
5,U24134WB1986PTC041478,JEWAN ENTERPRISES PVT LTD,https://www.zaubacorp.com/company/JEWAN-ENTERP...,Kolkata,Active,Private Limited Company
6,U72900UP2022PTC158336,JEWAR HITECH PRIVATE LIMITED,https://www.zaubacorp.com/company/JEWAR-HITECH...,Kanpur,Active,Private Limited Company

In [7]:
cols = ['Company Category','Company Sub Category','Class of Company','Date of Incorporation','Age of Company',
       'Activity','Authorised Capital','Paid up capital','Director Name','Address']
df = pd.DataFrame(columns=cols)

In [8]:
c=0
for url in d.url[:3000]:
    c+=1
    try:
        page = requests.get(url)
        soup = BeautifulSoup(page.text, 'lxml')
        table1 = soup.findAll('table')
        table3 = soup.find('div', class_='col-12')
        l = [table1[0].find_all('p')[i].text for i in range(1,len(table1[0].find_all('p')),2)][5:-1]
        l.append(table1[3].find_all('p')[1].text)
        l.append(table1[3].find_all('p')[3].text)
        l.append(table1[7].find_all('p')[1].text)
        l.append(table3.find_all('p')[3].text)
        df.loc[len(df)] = l
    except:
        df.loc[len(df)] = [np.nan]*df.shape[1]
    if c%100==0:
        print(c)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000

In [9]:
d.shape

(51619, 6)

In [10]:
temp = d[:3000]
temp.reset_index(drop=True,inplace=True)
temp.shape

(3000, 6)

In [11]:
temp.tail()

,CIN,Name,url,roc,status,ownership
2995,U72200PN2013PTC149993,ROOTAGE SOFTWARE SOLUTIONS PRIVATE LIMITED,https://www.zaubacorp.com/company/ROOTAGE-SOFT...,Pune,Active,Private Limited Company
2996,U93000KA2018NPL118812,ROOTBOAT FOUNDATION,https://www.zaubacorp.com/company/ROOTBOAT-FOU...,Bangalore,Active,Not-for-Profit License Company
2997,U72900DL2016PTC305210,ROOTBOX TECHNOLOGIES PRIVATE LIMITED,https://www.zaubacorp.com/company/ROOTBOX-TECH...,Delhi,Active,Private Limited Company
2998,U67190KA2019PTC123777,ROOTBRIDGE ACADEMY PRIVATE LIMITED,https://www.zaubacorp.com/company/ROOTBRIDGE-A...,Bangalore,Active,Private Limited Company
2999,U74999KL2018PTC055792,ROOTBRIDGE ENTERPRISES PRIVATE LIMITED,https://www.zaubacorp.com/company/ROOTBRIDGE-E...,Ernakulam,Active,Private Limited Company

In [12]:
df.tail()

,Company Category,Company Sub Category,Class of Company,Date of Incorporation,Age of Company,Activity,Authorised Capital,Paid up capital,Director Name,Address
2995,Company limited by Shares,Non-govt company,Private,31 December 2013,"8 years, 2 month, 26 days","Software publishing, consultancy and supply [S...","₹100,000","₹100,000",RAJESH BIBHISHANRAO JAGDALE,"FLAT NO. 301, F- WING, WINDWARDS, S.NO. 236/23..."
2996,Company limited by Shares,Non-govt company,Private,26 November 2018,"3 years, 4 month, 0 days",Other service activities,"₹100,000","₹100,000",RAJESH SUDHAKAR,"H.NO. 20, VISHWANATH NAGENENAHALLI BANGALORE B..."
2997,Company limited by Shares,Non-govt company,Private,31 August 2016,"5 years, 6 month, 26 days",Other computer related activities [for example...,"₹100,000","₹100,000",SEEMA ANAND,"N 70/1, LANE W-17-O SAINIK FARMS SOUTH DELHI S..."
2998,Company limited by Shares,Non-govt company,Private,25 April 2019,"2 years, 11 month, 1 days",Activities auxiliary to financial intermediati...,"₹100,000","₹2,000",ANANTHAPADMANABHAN GURUSWAMY,"Mana Candela Apartment, Flat No. G-10, Kodathi..."
2999,Company limited by Shares,Non-govt company,Private,04 December 2018,"3 years, 3 month, 22 days",Business activities n.e.c.,"₹1,000,000","₹500,000",TONY KONNOTH JOHN,"SRAMBIKKAL TOWER,FIRST FLOOR,BUILDING NO 17/12..."

In [13]:
for i in df.columns:
    temp[i] = df[i]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
temp.shape

(3000, 16)

In [15]:
temp.to_csv('1-3000.csv')
print('completed vardhan')

completed vardhan